<div class="catalogo-pagina">
  <div class="catalogo-header">
    <h1>Catálogo de Mangas</h1>
    <p>{{ productosFiltrados.length }} títulos disponibles</p>
  </div>



  <div class="catalogo-contenido">
    <aside class="sidebar">
      <h3>Categorías</h3>
      <br>
      <ul class="genero-lista">
        <li
          *ngFor="let genero of generos"
          (click)="filtrarPorGenero(genero)"
          [ngClass]="{'activo': generoSeleccionado === genero}"
          class="genero-item">
          {{ genero }}
        </li>
      </ul>
    </aside>

    <div *ngIf="cargando" class="estado-msg">Cargando productos...</div>
    <div *ngIf="error" class="estado-msg error">Error al cargar productos.</div>

    <ng-container *ngIf="!cargando && !error && productosFiltrados.length > 0">
    <div class="manga-grid">
      <app-producto-card
        *ngFor="let producto of productosFiltrados"
        [producto]="producto"
        [agregadoId]="agregadoId"
        (agregar)="agregarAlCarrito($event)">
      </app-producto-card>
    </div>
    </ng-container>

  </div>
</div>

